data/
config.json
.idea/
.DS_Store
*.torrent
!testdata/*.torrent
*.magnet
!testdata/*.magnet
*.db
*.log
*.log.*
*.test
/nntpmock
dist/
tmp/**
torrents.json
logs/**
auth.json
.ven/
.env
node_modules/
.venv/
.stignore
.stfolder/**

# profiling artifacts
*.pprof
*.prof
