name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Set Release Channel
        run: |
          if [[ ${{ github.ref }} == refs/tags/beta* ]]; then
            echo "RELEASE_CHANNEL=beta" >> $GITHUB_ENV
          else
            echo "RELEASE_CHANNEL=stable" >> $GITHUB_ENV
          fi
          
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}